# Xcode
.DS_Store
*.xcworkspace
*.xcuserdata
*.xcuserstate
*.xcuserdatad
*.xccheckout
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# SwiftPM
.build/
.swiftpm/xcode/

# Derived data
DerivedData/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Logs
*.log

# SwiftLint cache
.swiftlint.cache

# Archives
*.ipa
*.xcarchive

# macOS metadata
Icon?
ehthumbs.db
Thumbs.db

# User-specific files
*.orig